# sudo chmod 644 /lib/systemd/system/heater.service
# chmod +x /home/pi/src/heater_control.py
# sudo systemctl daemon-reload
# sudo systemctl enable heater.service
# sudo systemctl start heater.service

# sudo nano /lib/systemd/system/heater.service
[Unit]
Description=Dog Heater Control
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/src/heater_control.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
